# --- For-Bot-Working --------- #
#pyrofork==2.3.43
#pyrogram
git+https://github.com/ps-updates/pyrogram
TgCrypto
pyromod==1.5
# --- For-Database ------------ #
pymongo
dnspython
# --- For-Web-Response ------- #
aiohttp
